﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:50px;
  width:240px;
  height:294px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:294px;
}
#u1 {
  position:absolute;
  left:2px;
  top:139px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:105px;
  width:220px;
  height:50px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:80px;
  top:172px;
  width:220px;
  height:50px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4 {
  position:absolute;
  left:80px;
  top:240px;
  width:220px;
  height:50px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:70px;
  top:25px;
  width:240px;
  height:25px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
}
#u6 {
  position:absolute;
  left:10px;
  top:4px;
  width:230px;
  word-wrap:break-word;
}
